/*footer.css*/


/*-----------------------------footer---------------------------------*/
/*푸터 전체 박스*/
.footerB {
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    background-color:  rgb(117, 165, 236);
  }
  
 /*푸터 네비 전체 박스*/
  .fNvB{
    width: 100%;
    height: 35px;
    opacity: 1;
    color: white;
    border-top: 0.5px solid rgb(117, 165, 236);
    border-bottom: 0.5px solid white;
    padding-bottom: 3px;
}

/*푸터 네비 개별 박스 모양*/
.fNvB div{
    width: 70px;
    height: 20px;
    float: left;
    margin-left: 470px;
}
/* .fNvB{
    width: 1300px;
    height: 35px;
} */

/*푸터 네비 개별 박스*/
.fNvB nav{
    width: 70px;
    height: 20px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 5px 0px 5px;
}


/*푸터 인포 전체 박스(로고이미지, 회사 정보 등)*/
.fInfoB {
    width: 1300px;
    height: 130px;
    opacity: 1;
    margin-left: 180px;
    background-color: rgb(117, 165, 236);
}

/*푸터 로고 이미지 박스*/
.fInfoB img{
    width: 250px;
    height: 45px;
    float: left;
    background-color: rgb(117, 165, 236);
    margin-right: 100px;
    margin-top: 18px;
    padding: 35px 0px 0px 0px;
}
/*푸터 회사 정보 글씨 박스*/
.fInfoB p{
    width: 900px;
    height: 100px;
    float: left;
    color: white;
    font-size: 13px;
    padding: 10px 0px 0px 0px;
    margin-top: 20px;
    text-align: left;
    line-height: 30px;
}