@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }


*{
    font-family: 'Pretendard-Regular';
} 

/*  */
/* 가이드 탭 리스트  */
 	.tab_list {
            /* min-width: 320px;
            max-width: 800px; */ 
            width: 1000px;
            padding: 50px;
            margin: 0 auto;
            background: #ffffff;}

        /* section { */
        	#guide_uk {
            display: none;
            padding: 20px 0 0;
            border-top: 1px solid #ddd;}
            
            #guide_fr {
            display: none;
            padding: 20px 0 0;
            border-top: 1px solid #ddd;}
            
            #guide_es {
            display: none;
            padding: 20px 0 0;
            border-top: 1px solid #ddd;}
            
            #guide_ita {
            display: none;
            padding: 20px 0 0;
            border-top: 1px solid #ddd;}

        /*라디오버튼 숨김*/

              
		#tab1, #tab2, #tab3, #tab4  {
              display: none;}
	
		.g_label {
            display: inline-block;
            margin: 0 0 -1px;
            padding: 15px 25px;
            font-weight: 600;
            text-align: center;
            color: #bbb;
            border: 1px solid transparent;}
		
		.g_label:hover{
            color: #2e9cdf;
            cursor: pointer;}

        /*input 클릭시, label 스타일*/
        input:checked + .g_label {
              color: #555;
              border: 1px solid #ddd;
              border-top: 2px solid #2e9cdf;
              border-bottom: 1px solid #ffffff;}

        #tab1:checked ~ #guide_uk,
        #tab2:checked ~ #guide_fr,
        #tab3:checked ~ #guide_es,
        #tab4:checked ~ #guide_ita {
            display: block;}

/* 가이드 탭 끝  */
/*  */


body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 1903px;
  height: 1680px;
  overflow-x: hidden;
}
 

  .header {
    width: 100%;
    height: 130px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: rgb(20, 3, 78);
  }
  
  .header1 {
    width: 100%;
    height: 130px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  li {
    list-style: none;
    float: left;
  }
  
  .logo {
    width: 270px;
    height: 108px;
    margin: auto;
    margin-top: 10px;
    margin-left: 800px;
    text-align: center;
    color:rgb(236, 236, 162);
  
  }
  .logo1{
    width: 270px;
    height: 108px;
  }

  .home {
    width: 400px;
    height: 25px;
    margin-bottom: 55px;
    margin-right: 270px;
    float: right;
    font-size: 16px;
    font-weight: 800;
  }

  .home11 {
    width: 40px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
    float: right;
  }
  
  .home1 {
    width: 60px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
    float: right;
  }
  

  .himg {
    width: 20px;
    height: 20px;
  }
  
  .head11 {
    width: 100%;
    height: 50px;
    display: flex;
  }
  
  .menu {
    width: 500px;
    height: 40px;
    display: flex;
    float: left;
    margin-left: 400px;
  
  }
  
  .menuli {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    padding-left: 0px;
    text-align: center;
  }
  
  .menu1,.menu2,.menu4{
    margin-right: 20px;
    width: 80px;
    height: 30px;
    color:rgb(20, 3, 78);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(153, 171, 233);
    border-radius: 15px 15px 0px 0px;
  }
  .menu3{
    margin-right: 20px;
    width: 80px;
    height: 30px;
    background-color:rgb(117, 165, 236);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(117, 165, 236);
    border-radius: 15px 15px 0px 0px;
  }
  
    .mimg {
      width: 30px;
      height: 30px;
      padding-top: 0px;
    }
/*----------------------------------------content---------------------------*/

  .content {
    width: 1100px;
    /* height: 1300px; */
    /* margin-top: -700px; */
    margin-top: 50px;
    margin-left: 400px;
    /* border-style: dashed; */
    border-width:1px;
   
  }

/* .content{
    width: 1300px;
    height: 2150px;
    border-style: dashed;
    border-color: blue;
    
    margin-left: 300px; */
    /* margin-top: 50px;
} */

.guide_of_the_month{
    border: dotted;
    width: 1100px;
    background-color: blue;
    display: flex;
}

.tour_banner{
  /* border: solid; */
  width: 1100px;
  margin-top: 100px;
  /* text-align: center; */
}

.recommend_city{
  display: flex;
  
  
  width: 1100px;
  margin-top: 100px;
  text-align: center;
}

.recommend_ticket{
  /* border: solid; */
  width: 1100px;
  margin-top: 100px;
  /* text-align: center; */
}

.recommend_city1{
  margin-right: auto;
  margin-left: auto;
}

.recommend_city2{
  margin-right: auto;
  margin-left: auto;
}

.recommend_city3{
  margin-right: auto;
  margin-left: auto;
}

.recommend_city4{
  margin-right: auto;
  margin-left: auto;
}

/*----------------------------------------footer---------------------------------*/
.footer {
    width: 1900px;
    height: 200px;
    background-color: #85e7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

/*  이미지 회전 */
.slideshow-image{
  border-radius:3%;
  width: 100%;
  
  height: 600px;
  overflow: hidden;
}
.mySlides {
border-radius:3%;
width: 600px;
/* height: 350px; */
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}
.slideshow_container {
display: flex;
justify-content: center;
position: relative;
margin: auto;
}
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

a {
  text-decoration-line: none;
}
a:link {
  color : black;
}
a:visited {
  color : black;
}
a:hover {
  color : red;
}
a:active {
  color : green;
}

