/* mypage_index.css */

/*-- menuli클래스 하위 li에 마우스 오버일때 글자색 변경--*/
.menuli > li:hover {
    color: white;
    background-color:  rgb(20, 3, 78);
}
/* background-color: blue; */

.mainNB input:hover{
    color: white;
    background-color: rgb(20, 3, 78);
}

.mainNB nav:nth-child(n+3):hover,  
.mainNB nav:nth-child(n+3):hover,
.mainNB nav:nth-child(n+3):hover, 
.mainNB nav:nth-child(n+3):hover, 
.mainNB nav:nth-child(n+3):hover
{
    color: white;
    background-color: rgb(20, 3, 78);
}

.menuli {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 0px;
    text-align: center;
}

.menu1,
.menu2,
.menu3,
.menu4 {
    margin-right: 5px;
    width: 100px;
    height: 30px;
    color: rgb(20, 3, 78);
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(20, 3, 78);
    border-radius: 10px 10px 10px 10px;
}
/* 
.mimg {
    width: 30px;
    height: 30px;
    padding-top: 0px;
} */

/*메인 전체 박스*/
.alMainB{
    width: 1050px;
    height: 1050px;
    margin: 50px 425px 0px 440px;
    border-width: 0px;
}
/*-------메인페이지 텍스트 박스--------*/
.mainTB {
    width: 1050px;
    height: 50px;
    padding:0px;
    border-width: 0px;
    font-weight: bold;
}

.mainTB p{
    width: 800px;
    height: 50px;
    float: left;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
}
/* --------메인 네비와 빠른 예약, 캘린더 컨테인한 박스------- */
.mainNCB{
    display: flex;
}
/*----------가장 빠른 예약, 캘린더 전체 박스----------*/
.mrMcalB{
    margin: 0px  0px 0px 50px;
}
/*----------가장 빠른 예약 전체 박스----------*/
.mainRB {
    width: 805px;
    height: 205px;
    font-size: 20px;
    font-weight: bold;
    /* margin: -852px 0px 0px 245px; */
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    box-shadow: 5px 5px 5px gray;
}

/*가장 빠른 예약 텍스트 박스*/
.mainRB p:nth-child(1) {
    width: 795px;
    height: 36px;    
    float: left;
    font-size: 20px;
    margin: 0px;
    padding: 3px 0px 0px 3px;
    border-width: 0px;
}

/*가장빠른 예약 이미지 박스*/
.mainRB span img{
    width: 197px;
    height: 154.5px;
    float: left;
    margin: 0px;
    padding: 1px 2px 2px 1px;
    font-size: 20px;
    border: 1px solid  rgb(20, 3, 78);
}

/*예약 내용 박스*/
.mainRB div:nth-child(3) p:nth-child(1){
    width: 590px;
    height: 30px;
    float: left;
    color: tomato;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 0px 0px 10px;
    /* border: solid rgb(189, 181, 181);
    border-width: 1px 1px 0px 0px; */
}

.mainRB div:nth-child(3) p:nth-child(n+2):nth-child(-n+5){
    width: 590px;
    height: 30px;
    float: left;
    font-size: 15px;
    margin: 5px 0px -5px 0px;
    padding-left: 10px;
    /* border: solid rgb(20, 102, 20);
    border-width: 0px 1px 1px 0px; */
}


/*캘린더 박스*/
.mainCalB {
    width: 800px;
    height: 620px;
    font-size: 20px;
    padding: 0px;
    margin-top: 47px;
    border-width: 0px;
}

.mainCalB p {
    width: 800px;
    height: 30px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    border-width: 0px;
}

.mainCalB img{
    width: 800px;
    height: 570px;
    float: left;
    font-size: 20px;
    /* margin: 0px;
    border: 1px solid rgb(20, 102, 20); */
    box-shadow: 5px 5px 5px gray;
}